#todo-api-tester {
  background-color: #858694;

  p {
    color: #000;
    margin-bottom: 0;
    margin-top: 16px;
  }

  pre {
    background-color: #e0e0e0;
    color: #000;
    font-size: 16px;
  }

  input[type="checkbox"] {
    display: inline-block;
  }
}