[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4

[{.eslintrc,.babelrc,.stylelintrc,jest.config,*.bowerrc,*.json,*.jsb3,*.jsb2}]
indent_style=space
indent_size=2

[{*.js,*.applejs}]
indent_style=space
indent_size=2

[*.jsx]
indent_style=space
indent_size=2

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[*.coffee]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

