{
  "presets": [
    [
      "env",
      {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-react-jsx", "transform-object-rest-spread", "transform-class-properties", "rewire"]
    }
  },
  "plugins": ["transform-class-properties"]
}