<div id="todo-api-tester" class="m-t-1 m-b-1">
    <h3>Todo api tester</h3>


    <div class="row">
        <div class="col-4">
            <label for="todo-number">Todo number:</label>
            <input id="todo-number" type="text" name="todo-number" value="1" class="form-control"/>
        </div>
        <div class="col-4">
            <label for="todo-number">Use cache?:</label>
            <input id="should-fetch" type="checkbox" name="should-fetch" class="form-control" checked />
        </div>
    </div>

    <button type="button" class="btn btn-primary">Get todos!</button>

    <p>Output:</p>
    <pre class="output"></pre>
</div>